/* 2022/12/03 */
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/            
    box-sizing: border-box;/* ←全て含めてmin-height:100vhに */    
}

/* -- header -- */
header {
    width: 100%;
    padding: 15px 0;
    font-family: "Sawarabi Gothic";
    margin: 0 auto;
    text-align: center;
    background-color: #84c1ff;
}

header .headline {
    font-size: 38px;
}

.overview {
    font-size: 20px;
    padding: 15px 0;    
}

.overview .text_tutrial{
    text-align: center;
}

.overview .text_overview{
    text-align: left;
}

.appImage {
    height: 1000px;
    width: 500px;    
}

/* -- fotter -- */
footer {    
    /*footerの装飾*/
    width: 100%;        
    background-color: #84c1ff;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 30px 0;    
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
